<header class="text-center">
    <h1>Welcome to the Party Finder App</h1>
</header>

<div class="row container" id="welcomePg">
    <form class="form-group">
        <div class="col col-xs-12 input-group-lg">
            <input type="text" class="form-control" placeholder="User Name" ng-model="user.username" ng-minlength="2" required>
        </div>
        <div class="col col-xs-12 input-group-lg">
            <input type="password" value="text" class="form-control" placeholder="Password" ng-model="user.password" ng-minlength="2" required>
        </div>
        <div class="col col-xs-12 text-center">
            <button class="btn btn-success btn-lg" ng-click="getUser(user)" ng-disabled="form">submit</button>
        </div>
    </form>
</div>
