<div id="partyPage">

    <div id="addPartyHeader" class="row container-fluid">

        <header class="text-center">
            <h1>Welcome {{ user.firstName }} {{ user.lastName }}</h1>
        </header>
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary" ng-model="addPartyBtn" data-toggle="modal" data-target="#myModal">Add A Party</button>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Party!!!</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form>
                            <div class="col col-xs-12">
                                <div class="col col-xs-6 col-sm-6">
                                    <select class="form-control" placeholder="Type of Party" ng-model="post.typeOfParty">
                                        <option>Other</option>
                                        <option>House</option>
                                        <option>Club</option>
                                        <option>Private</option>
                                        <option>Birthday</option>
                                        <option>Public</option>
                                        <option>Religious</option>
                                        <option>Beach</option>
                                        <option>Bar</option>
                                    </select>
                                </div>
                                <div class="col col-xs-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Host Of Party" ng-model="post.host">
                                </div>

                                <div class="col col-xs-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Address" ng-model="post.location.address" required>
                                </div>
                                <div class="col col-xs-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="City" ng-model="post.location.city" required>
                                </div>
                                <div class="col col-xs-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="State" ng-model="post.location.state" disabled>
                                </div>
                                <div class="col col-xs-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Zip Code" ng-model="post.location.zip">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <input type="datetime-local" class="form-control" name="partyTime" ng-model="post.dateAndTime" required>
                                </div>
                                <div class="col-xs-6" ng-show="post.admission">
                                    <div id="admission" class="col-xs-12 input-group text-center">
                                        <div class="input-group-addon">$</div>
                                        <input type="number" class="form-control" id="exampleInputAmount" placeholder="Amount" ng-model="post.admissionAmount" min="0">
                                        <div class="input-group-addon">.00</div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col col-xs-6 form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="post.alcohol" value="false"> Alcohol
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col col-xs-6 form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="post.admission" value=false> Admission
                                            </label>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-success" ng-click="addParty(post)" data-dismiss="modal" ng-disabled="!post.location.state || !post.location.city ||  !post.dateAndTime">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row is-flex container" id="partyResults">
        <div class="col-xs-12 col-sm-12 col-md-6" ng-repeat="party in parties | orderBy: 'dateAndTime' track by $index">
            <div id="indParties">
               <div class="col-xs-12 text-center" id="ofAge">
                   <p ng-if="party.alcohol === true"><u><i>must be 21 or older!</i></u> </p>
               </div>
                <div class="col-xs-6">
                    <h3> {{ party.typeOfParty }} Party</h3>
                    <h4 ng-show="party.host.length">Host: {{ party.host }}</h4>
                    <img id="devil" class="img img-responsive" ng-if="party.host === 'Satan'" src="http://www.clipartkid.com/images/644/cute-devil-by-sinovera-on-deviantart-yV5zJV-clipart.jpg" alt="Smirky Devil">
                    <p> {{ party.location.address }} {{ party.location.city }}, {{ party.location.state }}.</p>
                    <p> {{ party.dateAndTime | date: 'short' }} </p>
                    <p ng-if="party.alcohol === true">Alcohol Present</p>
                    <p ng-if="party.admissionAmount !== 0">Admission: ${{ party.admissionAmount }} </p>
                    <p ng-if="party.admissionAmount === 0">Admission: None </p>
                    <p ng-if="party.personPosting.length !== 0">Posted by: {{ party.personPosting.firstName }}  {{ party.personPosting.lastName }}</p>
                </div>
                <div class="col-xs-6" id="commentsCol">
                    <div class="text-center">
                        <form>
                            <textarea class="form-control" ng-model="party.newComment"></textarea>
                            <button type="button" class="btn btn-primary" ng-model="verified" ng-click="comments(party, $index)">Comment</button>
                        </form>
                    </div>
                    <div id="commentsBox" class="col-xs-12" ng-hide="!party.comments.length">
                        <p ng-repeat="comment in party.comments | orderBy: '$index' :true track by $index" > {{ comment }} </p>
                    </div>
                    <div id="noComments" class="col-xs-12 text-center" ng-if="party.comments.length === 0"><p><strong>No Comments</strong></p></div>
                    <!--
                <label>
                    <button class="btn btn-primary" ng-model="verified" ng-click="going(party, userId, $index)" ng-disabled="verified"><span ng-hide="verified">Count Me In </span><span ng-show="verified">Not logged in</span></button>

                </label>
-->
                </div>
            </div>
        </div>
    </div>
</div>